.App {
   color: #333;
   border-radius: 8px;
   background: white;
   margin: 8em;
   min-height: 32em;
   min-width: 25em;
   box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
   z-index: 1;
}
.App > .todoList> li:nth-child(odd){
  background: rgba(128,203,240,0.2);
}
.App > .todoList> li:nth-child(even){
  background: transparent;
}


.App .header{
  padding:3em 0em;
  border-radius: 8px 8px 0 0 ;
  background: url(../img/01.jpg) bottom no-repeat;
  background-size: 120% 135%;
}
.App .header .title{
  color: #fff;
  margin: 0.7em;
  position: relative;
  top:1.1em;
  font-size: 2.3em;
}

