body{
  background:url(../img/01.jpg) center center no-repeat;
  background-size: 100% 100%;
  opacity: 0.9;
  position: relative;
  
}
body:before{
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:rgba(234,240,255,0.9);
}
#root{
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
