.TodoItem{
  padding: .5em;
  display: flex;
  align-items: center;
}
.TodoItem>.title{
  flex-grow: 1;
  font-size: 1.4em;
  padding: 0 .5em;
}
.TodoItem >.completed{
	text-decoration: line-through;
	opacity: 0.5;
}
.TodoItem >.completed1{
	color: #a0a1a2;
}



.TodoItem .icon-delete{ 
  border:none;
  cursor: pointer;
  background: none;
  font-size: 18px;  
}
.TodoItem .icon-delete:hover{  
  transform: scale(1.2,1.2);
  transition: 0.5s;
}
.TodoItem .icon-underway{ 
  font-size: 19px;  
}
.TodoItem .icon-completed{ 
  font-size: 18px;  
  color:#a0a1a2;
}
