<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue-todo</title>
</head>
<body>
  <div id="todo-app">
    <header>
      <input type="checkbox" name="" id="" v-on:click="toggleSelectAll" v-bind:checked="todos.every(it=>it.done)">
      <input type="text" v-model.trim="message" v-on:keyup.enter="addTodo()">
    </header>
    <main>
      <ul>
        <li v-for="(todo, index) in filterTodos(todos,showingTodoStatus)">
          <input type="checkbox" v-model="todo.done" id="">
          <span v-on:dblclick="editing(index)" v-show="editingIndex != index">{{todo.content}}</span>
          <input ref="editTodo" v-on:blur="editingIndex = -1" v-show="editingIndex == index" type="text" v-model="todo.content">
          <span v-on:click="deleteTodo(todo)">x</span>
        </li>
      </ul>
    </main>
    <footer>
      <span>{{leftTodosCount}} item{{itemPlural}} left</span>
      <div>
        <label><input type="radio" v-model="showingTodoStatus" value="all" id="">all</label>
        <label><input type="radio" v-model="showingTodoStatus" value="active" id="">active</label>
        <label><input type="radio" v-model="showingTodoStatus" value="completed" id="">completed</label>
      </div>
      <button v-on:click="clearCompleted" v-if="showClearCompletedBtn">clear completed</button>
    </footer>
  </div>
</body>
<script src="vue-2.5.17.js"></script>
<script>
  var todo = new Vue({
    el:'#todo-app',
    data:{
      message:'',
      showingTodoStatus:'all',
      editingIndex:-1,
      todos:[
        {
          content:'foo',
          done:false,
          editing:false,
        },{
          content:'bar',
          done:false,
          editing:false,
        },{
          content:'foo',
          done:true,
          editing:false,
        }
      ],
    },
    computed:{
      showClearCompletedBtn:function(){
        return this.todos.filter(it => it.done === true).length
      },
      leftTodosCount:function(){
        return this.todos.filter(it => it.done === false).length
      },
      itemPlural:function(){
        return this.leftTodosCount > 1 ? 's' : ' '
      },
    },
    methods:{
      editing:function(index){
        this.editingIndex = index
        Vue.nextTick(() => {
          this.$refs.editTodo[this.editingIndex].focus()
        })
      },
      addTodo:function(){
        if(!todo.$data.message){
          return
        }
        todo.$data.todos.push({
          content:todo.$data.message,
          done:false,
          editing:false,
        })
        todo.$data.message = ''
      },
      deleteTodo:function(item){
        var index = todo.$data.todos.indexOf(item)
        todo.$data.todos.splice(index,1)
      },
      toggleSelectAll:function(){
        if(todo.$data.todos.every(it => it.done)){
          todo.$data.todos.forEach(it => it.done = false)
        }else{
          todo.$data.todos.forEach(it => it.done = true)
        }
      },
      filterTodos:function(todos, status){
        if(status == 'all'){
          return todos
        }
        if(status == 'active'){
          return todos.filter(it => it.done === false)
        }
        if(status == 'completed'){
          return todos.filter(it => it.done === true)
        }
      },
      clearCompleted:function(){
        todo.$data.todos = todo.$data.todos.filter(it => it.done === false)
      }
    },
  })
</script>
</html>