.TodoItem{
  padding: .5em;
  display: flex;
  align-items: center;
}
.TodoItem>.title{
  flex-grow: 1;
  font-size: 1.4em;
  padding: 0 .5em;
  color: #666;
}
.TodoItem>.button{
  background: linear-gradient(to right,rgba(84,152,230,1),rgba(85,222,232,1));
  color: #fff;
  width: 1.2em;
  height: 1.2em;
  border:#fff;
  border-radius: 50%;
}
